.f1 {
    background: url(../img/Backgrounds/Heroes/F1_2.jpg) center center no-repeat;
    background-size: cover;
}
.f2 {
    background: url(../img/Backgrounds/Heroes/F2_2.jpg) center center no-repeat;
    background-size: cover;
}
.f3 {
    background: url(../img/Backgrounds/Heroes/F3_2.jpg) center center no-repeat;
    background-size: cover;
}
.f4 {
    background: url(../img/Backgrounds/Heroes/F4_2.jpg) center center no-repeat;
    background-size: cover;
}
.f5 {
    background: url(../img/Backgrounds/Heroes/F6_2.jpg) center center no-repeat;
    background-size: cover;
}
.f6 {
    background: url(../img/Backgrounds/Heroes/F7_2.jpg) center center no-repeat;
    background-size: cover;
}
.f1 div {
    background: url(../img/ILYA-KOZHAR3.png) center center no-repeat;
    background-size: cover;
}
.f2 div {
    background: url(../img/BORODIN2.png) center center no-repeat;
    background-size: cover;
}
.f3 div {
    background: url(../img/BARIKIN2.jpeg) center center no-repeat;
    background-size: cover;
}
.f4 div {
    background: url(../img/ROKOSS2.jpeg) center center no-repeat;
    background-size: cover;
}
.f5 div {
    background: url(../img/MAZUROV2.jpg) center center no-repeat;
    background-size: cover;
}
.f6 div {
    background: url(../img/GOLOVACHEV2.jpeg) center center no-repeat;
    background-size: cover;
}
@media screen and (max-width: 700px) {
    .f1 div {
        background-position: center top;
    }
    .f5 div {
        background-position: center top;
    }
}