.up {
    width: 40%;
    transition: width 0.2s linear;
    justify-content: center;
    font-size: 30px;
}
.down {
    width: 20%;
    background-position: center center;
    font-size: 15px;
    cursor: pointer;
    transition: width 0.2s linear;
} 
.g1, .g2, .g3 {
    border-right: solid 2px var(--main-color3);
}
.g1{
    background-image: url('../img/ILYA-KOZHAR3.png');
}
.g2{
    background-image: url('../img/SHABUNEVSKI3.jpg');
}
.g3{
    background-image: url('../img/MAZUROV2.jpg');
}
.g4{
    background-image: url('../img/SKARINA3.jpg');
}
.image.hr0{
    background-image: url('../img/ILYA-KOZHAR3.png');
    background-color: aqua;
}
.image.hr1{
    background-color: blue;
    background-image: url('../img/SHABUNEVSKI3.jpg');
}
.image.hr2{
    background-image: url('../img/MAZUROV2.jpg');
    background-color: red;
}
.image.hr3{
    background-image: url('../img/SKARINA3.jpg');
    background-color: red;
}

