.image.hr1{
    background-image: url('../img/ILYA-KOZHAR3.png');
    background-color: aqua;
}
.image.hr2{
    background-color: blue;
    background-image: url('../img/SHABUNEVSKI3.jpg');
}
.image.hr3{
    background-image: url('../img/MAZUROV2.jpg');
    background-color: red;
}
.image.hr4{
    background-image: url('../img/SKARINA3.jpg');
    background-color: red;
}
.image.hr5{
    background-image: url('../img/MAZUROV2.jpg');
    background-color: red;
}
.image.hr6{
    background-image: url('../img/GOLOVACHEV2.jpeg');
    background-color: red;
}
