.up {
    width: 40%;
    transition: width 0.4s linear;
    justify-content: center;
    font-size: 30px;
}
.down {
    width: 20%;
    background-position: center center;
    font-size: 15px;
    cursor: pointer;
} 
.image.hr1{
    background-image: url('../img/ILYA-KOZHAR3.png');
    background-color: aqua;
}
.image.hr2{
    background-color: blue;
    background-image: url('../img/SHABUNEVSKI3.jpg');
}
.image.hr3{
    background-image: url('../img/MAZUROV2.jpg');
    background-color: red;
}
.image.hr4{
    background-image: url('../img/SKARINA3.jpg');
    background-color: red;
}
.image.hr5{
    background-image: url('../img/MAZUROV2.jpg');
    background-color: red;
}
.image.hr6{
    background-image: url('../img/GOLOVACHEV2.jpeg');
    background-color: red;
}
